<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Ramon &quot;Red&quot; Macasa — Portfolio">
    <meta property="og:description" content="CS @ UC Santa Barbara · MLH Fellow">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    {% block head %}{% endblock %}
    <title>{{ title }} · Red Macasa</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a class="nav-logo" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Red Macasa logo" />
            </a>
            <nav>
                {% for page in pages %}
                <a class="nav-link{% if request.endpoint == page.endpoint %} active{% endif %}"
                    href="{{ url_for(page.endpoint) }}">{{ page.name }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <p>© {{ 2026 }} Ramon "Red" Macasa · CS @ UC Santa Barbara · MLH Fellow</p>
    </footer>

    {% block scripts %}{% endblock %}
</body>

</html>
